---
layout: default
title: Blog | Classic Rock Dance Band | Cover2Cover | Kelowna, BC
description: Learn more about our classic rock band and our new songs, gigs and recordings
path: blog
---

<main class="mx-auto max-w-5xl bg-neutral-50">
  <div class="bg-neutral-800">
    <div
      class="border-t-4 border-b-4 border-l-[16px] border-r-[16px] border-neutral-800 bg-neutral-50 bg-cloth-texture bg-repeat p-4 sm:p-8 lg:p-12"
    >
      <section class="c2c-panel">
        <div class="prose">
          <h1>Blog</h1>
        </div>

        {{ content | safe }}
      </section>
    </div>
  </div>
</main>
